<header class="site-header">

  <div id="header">
    <nav>
      <ul>
        <li class="fork"><a href="https://nighthawkcoders.github.io/teacher/">Home</a></li>
        <li class="fork"><a href="https://nighthawkcoders.github.io/teacher/csp">CSP</a></li>
        <li class="fork"><a href="https://github.com/katiehua">My GitHub Page</a></li>
        <li class="fork"><a href="https://github.com/katiehua/student">Student Repository</a></li>
      </ul>
    </nav>
  </div><!-- end header -->
</header>